
.main-page {
    @include general;
    background: $black-color;
    color: $white-color;
    width: 100%;
    height: 100%;
    font-family: $font-family;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .main {
    @include container-size;
    height: 100vh;
  }
  .down {
    width: 25px;
    height: 30px;
    position: absolute;
    left: 50%; 
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50px;
    -webkit-animation: down 2s ease infinite;
    animation: down 2s ease infinite;
    }
    @keyframes down {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
    @media screen and (max-width:600px){
      .main{
        flex-direction: column-reverse;
        align-items: center;
      }
      .down {
        left: 45%; 
        bottom:35px;
      }
    }
  