.services-container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
  }

  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}